{% extends 'starter.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block breadcrumb %}{{ title }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card card-warning">
      <div class="card-header"><h3 class="card-title">{{ title }}</h3></div>
      <form method="post">
        {% csrf_token %}
        <div class="card-body">
          {% for field in form %}
          <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-warning">Cambiar Contraseña</button>
          <a href="{% url 'dashboard:user_list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}